@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: gtAlplina;
  src: url("../fonts/GTAlpina-Light.otf");
}

@font-face {
  font-family: ttPro;
  src: url("../fonts/TT\ Commons\ Pro\ Normal.otf");
}

@font-face {
  font-family: robotoCondensed;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
  font-family: roboto;
}

.navBg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("../public/assets/images/OBJECTS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cardBg {
  background-image: url("../public/assets/svgs/wavy-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0A0A0A;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
